.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 2rem 2rem 2rem;
  color: #9B9B9B;
  background-color: #F7F7F7;
  position: relative;
}
.navbar__column {
  cursor: pointer;
}
.navbar__column:hover {
  color:#575757;
  transition: all 0.5s linear;
}

@media screen and (max-width: 500px) {
  .navbar {
    padding: 2rem 1rem;
  }
  .navbar__column {
    font-size: 0.9rem;
    
  }
}
@media screen and (max-width: 768px)and (min-width: 501px) {
  .navbar {
    padding: 2.5rem 1.2rem;
  }
  .navbar__column {
    font-size: 1rem;
    
  }
}
/* @media screen and (max-width: 1024px)and (min-width: 769px) {
  .navbar {
    padding: 2.5rem 1.2rem;
  }
  .navbar__column {
    font-size: 1rem;
    
  }
} */
/* @media screen and (max-width: 1280px)and (min-width: 1025px) {
  .navbar {
    padding: 2.5rem 1.2rem;
  }
  .navbar__column {
    font-size: 1rem;
    
  }
} */
