@import "../_utils.css";
.addResource__button {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  background-color:var(--button-active-bg-color);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-bottom: -2rem;
  position: sticky;
  
}
.addResource__button:hover {
  background-color: #67DCBA;
  transition: var(--transition-hover);
  color: whitesmoke;
}
.addResource__input {
  width: 90%;
  margin-left: 1rem !important;
}
.addResource__item {
  padding-left: 2rem !important;
}
.addResource__itemName {
  color:var(--text-color-hover); 
}
.addResources__list {
  position: relative;
}

.addResource__wrapper{
  padding-top: 2rem;
  width: 20rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}
