@import "../_utils.css";
.create__body {
  display: flex;
  width: var(--width-container-full);
  margin: 0 auto;
  padding: 2rem 0rem;
  background-color:var(--main-bg-color);
}

.create__button-disable , .create__button-active{
  display: flex;
  align-items: center;
  margin-top:2rem;
  font-weight: 500;
  padding: 0.5rem;
}
.create__button-disable {
  color: var(--text-color-hover);
  cursor: not-allowed;
}
.create__button-active {
  color: var(--button-active-bg-color);
  cursor: pointer;
}
.create__buttonSign-active, .create__buttonSign-disable{
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  position: relative;
}
.create__buttonSign-active {
  border: 1.9px solid var(--button-active-bg-color);
}
.create__buttonSign-disable {
  border: 1.9px solid var(--text-color-hover);
}
.create__buttonSign-active:before, .create__buttonSign-disable:before{
  content: "+";
  position: absolute;
  display: flex;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.create__form {
  flex: 0.7;
  height: 40rem;
  padding: 2rem 0 2rem 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
.create__sidebar {
  flex: 0.3;
}
.create__sidebar-item {
  padding: 0.8rem;
  background-color: #E7E7E9;
  font-weight: 700;
  color: #000;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  
}
.create__sidebar-item >span {
  margin-left: 1rem;
}
.create__title {
  font-weight: 700;
  padding:1rem 0;
  
}
.MuiInput-formControl {
  color:var(--text-color-hover)!important;
  font-size: 1.5rem !important; 
}
.MuiSelect-selectMenu, .MuiInput-inputTypeSearch {
  font-size: 1rem !important; 
  padding-left: 1rem !important
  
}

.selectedResources {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}
.selectedResource {
  border: 0.1px solid #ededed;
  width: 30%;
  height: 6rem;
  position: relative;
  border-radius: 0.3rem;
}
.selectedResource__detail {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  position: relative !important; 
}
.selectedResource__detail-text {
  display: flex;
  flex-direction: column;
  color: var(--text-color-hover) ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
}
.selectedResource__detail-avatar {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-95%, -50%);
  background-color: var(--bg-avatar-item)!important;
}
.selectedResource__detail-text  > span {
  color:var(--text-color-primary)
}
.selectedResource__removeSign {
  position: absolute;
  right: 5%;
  top: 0.5rem
}


@media screen and (max-width: 500px) {
  .selectedResources {
    padding-top: 0.5rem;
  }
  .selectedResource {
    height: 3rem;
    width: 50%;
    margin-bottom: 1rem;
  }
  .create__button-disable , .create__button-active{
    margin-top:0rem;
  }
  .selectedResource__detail-text   {
    font-size: 0.5rem;
    
  }
  .selectedResource__detail-text  > span {
    color:var(--text-color-primary);
    font-size: 0.3rem;
  }
  .selectedResource__detail-avatar {
    width: 1rem!important;
    height: 1rem!important;
  }
  .selectedResource__removeIcon {
    font-size: 1rem !important;
  }
} 

@media screen and (max-width: 768px) and (min-width:501px){
  .selectedResource__detail-text   {
    font-size: 0.7rem;
  }
  .selectedResource__detail-text  > span {
    font-size: 0.5rem;
  }
  .selectedResource__detail-avatar {
    width: 2rem!important;
    height: 2rem!important;
  }
  .selectedResource__removeIcon {
    font-size: 1.2rem !important;
  }
}

 @media screen and (max-width: 1024px) and (min-width: 769px){
  .create__button-disable , .create__button-active{
    margin-top:1rem;
  }
  .selectedResource__detail-text   {
    font-size: 0.9rem;
  }
  .selectedResource__detail-text  > span {
    font-size: 0.7rem;
  }
  .selectedResource__detail-avatar {
    width: 2.5rem!important;
    height: 2.5rem!important;
  }
  .selectedResource__removeIcon {
    font-size: 1.5rem !important;
  }
  
} 

@media screen and (max-width: 1600px) and (min-width: 1025px){
  
  .create__button-disable , .create__button-active{
    margin-top:1.2rem;
  }
  .selectedResource__detail-text   {
    font-size: 1,2rem;
  }
  .selectedResource__detail-text  > span {
    font-size: 0.9rem;
  }
  .selectedResource__detail-avatar {
    width: 4rem!important;
    height: 4rem!important; 
  }
  .selectedResource__removeIcon {
    font-size: 2rem !important;
  }
}
