.createResource__body {
  border: 2px solid green;
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 2rem 2rem;
}
.createResource__button {
  display: flex;
  color: #4BE8BC;
  margin: 2rem 2rem;
  position: relative;
  font-weight: 500;
}
.createResource__buttonSign {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1.8px solid #4BE8BC;
  margin: 0 0.5em;
  
}
.createResource__buttonSign:before{
  content: "+";
  display: flex;
  justify-content: center;
  margin-top: -0.1rem;
  text-align: center;

  
}


.createResource__input {
  margin: 2rem 2rem;
  
}
.createResource__inputField {
  width: 100%;
}
.createResource__form {
  flex: 0.7;
  border: 2px solid red;
  height: 40rem;
}
.createResource__sidebar {
  flex: 0.3;
  border: 2px solid yellow;
}
.createResource__title {
  margin: 2rem 2rem 0;

}
