.header {
  background-color: #4A4A4A;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 3rem;
  position: static;
  z-index: 1;
  top: 0;
  width: 100%;

}

.header__logoImage {
  height: 3rem;
  width: 9rem;
}
.header__userAccount {
  width: 10rem;
  height: 3rem;
  margin-right: 3rem;
  border: 2px solid red;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.header__userAccount > p {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
}
.header__userImage {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
