@import "../_utils.css";
.configurationNav {
  position: relative;
  background-color:var( --main-config-bg) ;
  display: flex;
  justify-content: space-evenly;
  width: var(--width-container-full) !important;
  margin: var(--margin-0-auto) !important;
  padding: 2rem 0;
  border-radius: 0.3rem; 
  border: none;
}
.configurationNav:after {
  content: "";
  position: absolute;
  top:-2.7rem;
  right: 30%;
  border-left: 1.5rem solid transparent;
  border-top: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-bottom: 1.5rem solid var( --main-config-bg);
  z-index: 2;
}

.configurationNav__column{
  padding: 0.5rem 2rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: var(--transition-hover);
}

.configurationNav__column:hover {
  color: #5946A6;
  background-color: #EDEAFE;
  border-radius: 0.5rem;
  transition: var(--transition-hover);
}

.configurationNav__wrapper {
  position: relative;
}
@media screen and (max-width: 500px) {
  .configurationNav {
    font-size: 12px;
    width: 100% !important;
    
  }
  .configurationNav__column{
    padding: 0.5rem;
  }
}
@media screen and (max-width: 768px)and (min-width: 501px) {
  .configurationNav {
    font-size: 12px;
    width: 90% !important;
    
  }
  .configurationNav__column{
    padding: 0.5rem;
    text-align: center;
  }
}
/* @media screen and (max-width: 1024px)and (min-width: 769px) {
  .configurationNav {
    font-size: 14px;
    width: 90% !important;
    
  }
  .configurationNav__column{
    padding: 0.5rem 1.7rem
  }
} */
/* @media screen and (max-width: 768px)and (min-width: 501px) {
  .configurationNav {
    font-size: 14px;
    width: 90% !important;
    
  }
  .configurationNav__column{
    padding: 0.5rem 1.7rem
  }
} */
